<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Document</title>
<style>
[v-cloak]{
  display: none;
}
img{
  vertical-align: top;
}
.wrap{
  display: flex;
  width: 1080px;
  margin: 0 auto;
}
.menu{
  width: 20%;
}
.boxWrap{
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}
.boxWrap .box{
  width: calc(25% - 20px);
  border: 1px solid #000;
  box-sizing: border-box;
  padding: 10px;
}
.boxWrap .box:not(:nth-child(4n+1)){
  margin-left: 20px;
}
.boxWrap .box:nth-child(n+5){
  margin-top: 20px;
}

</style>
</head>
<body>

<div id="app" v-cloak>
<div class="wrap">
<div class="menu">
<ul v-for="group in categories">
  <li v-for="cat in group">
    <label v-bind:for="cat.label"><input
      type="checkbox"
      v-model="cat.flag"
      v-bind:id="cat.label"
      v-on:change="sort"
    >{{cat.label}}
    </label>
  </li>
</ul>
</div><!-- /  .menu -->
<div class="boxWrap">
<div class="box" v-for="box in show(contents)">
  <p class="head">{{box.head}}</p>
  <p class="txt">{{box.text}}</p>
  <ul class="tag">
    <li v-for="cat in box.cat">{{cat}}</li>
  </ul>
</div><!-- /  .box -->
</div><!-- /  .boxWrap -->
</div><!-- /  .wrap -->

<pre>{{$data}}</pre>
</div><!-- /#app -->

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>

<script>
var app = new Vue({
	el:'#app',
  data:{
    categories:{
      group1:{
        cat1_1:{
          label:'cat1_1',
          flag:false
        },
        cat1_2:{
          label:'cat1_2',
          flag:false
        },
      },
      group2:{
        cat2_1:{
          label:'cat2_1',
          flag:false
        },
        cat2_2:{
          label:'cat2_2',
          flag:false
        },
      }
    },
    contents:[
      {
        id:0,
        cat:['cat1_1','cat1_2'],
        head:'タイトル1',
        text:'あああ',
      },
      {
        id:1,
        cat:['cat2_2'],
        head:'タイトル2',
        text:'いいい',
      },
      {
        id:2,
        cat:['cat1_2','cat2_2'],
        head:'タイトル3',
        text:'ううう',
      },
      {
        id:3,
        cat:['cat2_1'],
        head:'タイトル4',
        text:'えええ',
      }
    ],
    showCat:[]
  },
  mounted:function(){
    this.sort()
  },
  methods:{
    sort:function(){
      var showCat=[]
      for(group in this.categories){
        var groupArr = []
        for(cat in this.categories[group]){
          if(this.categories[group][cat].flag === true){
            groupArr.push(this.categories[group][cat].label)
          }
        }
        if(groupArr.length){
          showCat.push(groupArr)
        }
      }
      this.showCat.splice(0)
      if(showCat.length){
        this.showCat.push(showCat)
      }
    },
    show:function(contents){
      var showObj = []
      var　cond = '';
      for(group in this.showCat){
        for(cat in this.showCat[group]){
          //console.log(this.showCat[group][cat])
          cond += '&&'+this.showCat[group][cat]
          //this.contents.filter()
        }
      }
      cond = cond.replace(/&&/g,')&&(?=').replace(',','|').slice(3);
      if(cond !== '') cond += ')'
      console.log(cond)
      for(item in contents){
        if(contents[item].cat.toString().match(cond)){
          showObj.push(contents[item])
        }
      }
      return showObj
    }
  }
})
</script>
</body>
</html>